*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0; 
    margin: 0; 
} 

img, picture, svg, video {
    display: block; 
    max-width: 100%;
}

body {
    background: url("https://i.imgur.com/K3dMCHf.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
}


/////////////////
/// VARIABLES ///
/////////////////
$black: #222;
$white: #fff;
$blue: rgb(26, 94, 134);

@mixin black-bg-white-text {
    color: $white;
    background-color: $black;
}

@mixin flex-directionRow {
    display: flex;
    flex-direction: row;
}


.nav {
    background-color: $blue;
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
}

.add {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
}

input{
    margin-left: 10px;
}

.logo {
    color: $white;
    font-size: 2.5rem;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.bookmark {
   @include flex-directionRow();
   justify-content: space-between;
}

.icons {
    @include flex-directionRow();
    justify-content: center;
    align-items: center;
    img {
        padding: 0 20px 0 0;
        cursor: pointer;
    }
}